@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

body{
    background-image: url(./assets/fundoDevLinks.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    padding: 24px 0;
}

ul li a{
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    font-weight: 500;
    transition: background 0.2s;
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--text-color);
    transition: transform 0.3s ease;
}

ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
    transform: background-size(40px);
}

.social-links{
    display: flex;
    justify-content: center;
    padding: 23px 0;
    font-size: 24px;
}

.social-links a{
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.5s;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    background: var(--highlight-color);
    transform: translateY(-10px);
}

#creditos{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    padding: 40px 5px;
    width: 400;
    font-size: 14px;
}

#creditos span{
    color: #d3ad7f;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
